[user]
    email = jtdubs@gmail.com
    name = Justin Dubs

[init]
    defaultBranch = main

[http]
    cookiefile = ~/.gitcookies

[credential "https://source.developers.google.com"]
    helper = gcloud.sh

[url "git@github.com:"]
    insteadOf = https://github.com/
