Rxvt.background: black
Rxvt.foreground: white
Rxvt.font: xft:RobotoMono-Medium:size=10:antialias=true
Rxvt.boldFont: xft:RobotoMono-Bold:size=10:antialias=true
Rxvt.italicFont: xft:RobotoMono-MediumItalic:size=10:antialias=true
Rxvt.boldItalicFont: xft:RobotoMono-BoldItalic:size=10:antialias=true
Rxvt.scrollBar: false
Rxvt.cursorBlink: true
Rxvt.urlLauncher: google-chrome
Rxvt.saveLines: 10000
Rxvt.scrollTtyOutput: false
Rxvt.scrollWithBuffer: false
Rxvt.scrollTtyKeypress: true
Rxvt.secondaryScreen: 1
Rxvt.secondaryScroll: 0
Rxvt.secondaryWheel: 1

! Base16 Seti UI
! Scheme: 

#define theme00 #181818
#define theme01 #303030
#define theme02 #505050
#define theme03 #707070
#define theme04 #C0C0C0
#define theme05 #E8E8E8
#define theme06 #D1421C
#define theme07 #FF896A
#define theme08 #FFD66A
#define theme09 #14954C
#define theme0A #4FBE7F
#define theme0B #ABEBC7
#define theme0C #176184
#define theme0D #4C8CAC
#define theme0E #AAD2E5
#define theme0F #D17D1C

*foreground:   theme03
#ifdef background_opacity
*background:   [background_opacity]theme00
#else
*background:   theme00
#endif
*cursorColor:  theme03

*color0:       theme00
*color1:       theme06
*color2:       theme0B
*color3:       theme08
*color4:       theme0E
*color5:       theme0F
*color6:       theme0A
*color7:       theme03
*color8:       theme02
*color9:       theme07
*color10:      theme09
*color11:      theme0C
*color12:      theme0D
*color13:      theme01
*color14:      theme05
*color15:      theme04
