Rxvt.background: black
Rxvt.foreground: white
Rxvt.font: xft:RobotoMono-Medium:size=10:antialias=true
Rxvt.boldFont: xft:RobotoMono-Bold:size=10:antialias=true
Rxvt.italicFont: xft:RobotoMono-MediumItalic:size=10:antialias=true
Rxvt.boldItalicFont: xft:RobotoMono-BoldItalic:size=10:antialias=true
Rxvt.scrollBar: false
Rxvt.cursorBlink: true
Rxvt.urlLauncher: google-chrome
Rxvt.saveLines: 10000
Rxvt.scrollTtyOutput: false
Rxvt.scrollWithBuffer: false
Rxvt.scrollTtyKeypress: true
Rxvt.secondaryScreen: 1
Rxvt.secondaryScroll: 0
Rxvt.secondaryWheel: 1

! Base16 Seti UI
! Scheme: 

#define base00 #1F1F1F
#define base01 #009641
#define base02 #055B85
#define base03 #4B4B4B
#define base04 #2291C7
#define base05 #6E6E6E
#define base06 #363636
#define base07 #C1C1C1
#define base08 #FF4F21
#define base09 #FF9478
#define base0A #FF9821
#define base0B #6BE5A0
#define base0C #1BD36B
#define base0D #6EB9DE
#define base0E #E81E76
#define base0F #D22C00

*foreground:   base05
#ifdef background_opacity
*background:   [background_opacity]base00
#else
*background:   base00
#endif
*cursorColor:  base05

*color0:       base00
*color1:       base08
*color2:       base0B
*color3:       base0A
*color4:       base0D
*color5:       base0E
*color6:       base0C
*color7:       base05

*color8:       base03
*color9:       base09
*color10:      base01
*color11:      base02
*color12:      base04
*color13:      base06
*color14:      base0F
*color15:      base07
